body{
    background-color: rgb(241, 227, 237);
    margin: 0%;
}
header{
    background-color: rgb(252, 232, 246);
    height: 80px;
}

header nav{
    /* float: center; */
    width: 30%;
    margin-top: 15px;
    text-decoration-style: bold;
}
header h1{
 /* font-size: larger; */
    color: black;
    text-align:center;
    
}
header nav ul li{
    display: inline-block;
    margin-left: 5%;
    text-decoration: black;
    /* float: right ;  */

}
header nav ul li a{
    text-decoration-style:black; 
    
}
#one{
    background-color: #f3d7e1;
    width: 500px;
    height: 300px;
    text-align:left;
    
}

#one h3{
    font-size: 40px;
    padding-top: 30px;
    color: #ba9fd3 ;
    text-align:center;
}
#one p{
    font-size: 20px;
    color: #070707 ;
    text-align:right
}

#two {
    color: #ae7ddd ;
    background-color: #f4abc4;
    margin-bottom: 30px;
}
.image-container{
    text-align: center;
    display:inline-block ;
    height: 450px;
    width: 30%;
    margin-left: 30px;
}
.image-container img{
    margin-bottom: 20px;
    height: 80%;
}

footer{
    height: 50px;
    color:#f4abc4; 
    background-color:rgb(190, 157, 221);
}

footer p {
    font-size: 20px;
    text-align: center;
    vertical-align: middle
}