body{
    background-color:rgb(240, 210, 233);
    margin: 0%;
}
header{
    background-color: rgb(252, 232, 246);
    height: 80px;

}

header nav{
    /* float: center; */
    width: 30%;
    margin-top: 15px;
    text-decoration-style: bold;
}
header h1{
 /* font-size: larger; */
    color: black;
    text-align:center; 
}
header nav ul li{
    display: inline-block;
    margin-left: 10%;
    text-decoration:none;
     margin-left: 5%;
     font-size: medium;

}
header nav ul li a{
    text-decoration-style:black; 
    text-emphasis-color: black;
    color:black
    text style black
    
}
#one{
    background-color: #cebbc2;
  
    text-align:center;
    
}

#one h3{
    font-size: 40px;
    padding-top: 30px;
    color: #151416 ;
    text-align:center;
    font-size: larger;
}
#one p{
    font-size: 20px;
    color: #070707 ;
    text-align:center
    font-size smaller
}
#two {
    color: #ae7ddd ;
    background-color: #f4abc4;
    margin-bottom: 30px;
}
.image-container{
    text-align: center;
    display:inline-block ;
    height: 450px;
    width: 30%;
    margin-left: 30px;
}
.image-container img{
    margin-bottom: 20px;
    height: 80%;
}
#three {font-size:30px
}   






footer {

    background-color:rgb(190, 157, 221); 
}
      

footer p {
    font-size: 20px;
    text-align: center;
    vertical-align: middle
    width 600px
    height 450px
}